<<<<<<< HEAD
.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px rgb(47, 123, 185) inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
=======
.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px rgb(47, 123, 185) inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
>>>>>>> bf809638a078d497fe8298c5e5ed0ef6a1204ca9
}